# ===== Python =====
__pycache__/
*.py[cod]

# ===== Virtual Environments =====
.venv/
venv/
env/

# ===== OS junk =====
.DS_Store
Thumbs.db

# ===== Editors =====
.vscode/
.idea/

# ===== Logs =====
*.log
